body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f9fa;
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: 600;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-meta {
  font-size: 0.9rem;
  color: #6c757d;
}

.card-text {
  font-size: 1rem;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.2s;
}

.pagination .page-link {
  color: #007bff;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.additional-content {
  display: none;
}
