@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  background: #f6f9ff;
  color: #444444;
  background: linear-gradient(to right, #e0eafc, #cfdef3) !important;
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: 600;
}

h2,
h3 {
  font-weight: 600;
}

.alert {
  font-size: 1.1rem;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

.card-text {
  font-size: 0.8rem;
}

.rounded-circle {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.author-name {
  font-size: 1rem;
  font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
}



.page-link {
  background-color: white;
}