<%- include("header.ejs") %>
    <section class="error">
        <div class="container">
            <div class="error-icon">
                <i class="bi bi-exclamation-triangle-fill"></i>
            </div>
            <div class="error-title">
                403 Unauthorized Access
            </div>
            <div class="error-description">
                You do not have permission to view this page. How do you even get here??
            </div>
            <a href="/" class="btn btn-primary back-btn">
                <i class="bi bi-arrow-left"></i> Go Back to Home
            </a>
        </div>
    </section>
    <%- include("footer.ejs") %>