<footer class="footer text-white animate">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <div class="social-icons">
          <a href="#" target="_blank" class="social"><i class="bi bi-facebook"></i></a>
          <a href="#" target="_blank" class="social"><i class="bi bi-twitter"></i></a>
          <a href="#" target="_blank" class="social"><i class="bi bi-linkedin"></i></a>
          <a href="#" target="_blank" class="social"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: contact@example.com<br> Phone: +1234567890</p>
      </div>
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquam, urna vitae pulvinar.</p>
      </div>
    </div>
    <hr class="my-4">
    <p class="mb-0">Design & Developed By
      <a href="https://github.com/DevrajPun" target="_blank">DEVRAJ</a> &
      <a href="https://github.com/Esha-Sharmaa" target="_blank">ESHA</a>
    </p>
    <p class="mb-0">No Copyright &copy; forever.</p>
  </div>
</footer>


<!-- time and date script -->
<script>
  function updateDateTime() {
    var now = new Date();
    var options = {
      weekday: "long",
      year: "numeric",
      month: "long",
      day: "numeric",
      hour: "2-digit",
      minute: "2-digit",
      second: "2-digit",
    };
    var dateTimeString = now.toLocaleDateString("en-US", options);
    document.getElementById("currentDateTime").innerText = dateTimeString;
  }

  // Update date and time initially
  updateDateTime();

  // Update date and time every second
  setInterval(updateDateTime, 1000);
</script>

<script>
  // JavaScript for image preview
  function loadFile(event) {
    var image = document.getElementById("profileImage");
    image.src = URL.createObjectURL(event.target.files[0]);
    image.onload = function () {
      URL.revokeObjectURL(image.src); // free memory
    };
  }
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
  // Example using Google Maps embed code
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: -34.397, lng: 150.644 },
      zoom: 8
    });
  }
</script>
<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.umd.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
<script src="js/script.js"></script>

</body>

</html>