<%- include('header.ejs') %>
    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <div class="row custom-row">
                <div class="col-md-6 hero-text" style="color: #34495e;">
                    <h1 class="heading" style="color: #34495e;">Welcome to SOS Computer Application's E-Book Hub</h1>
                    <h5 class="sub-heading" style="color: #95a5a6;">Discover, Download, and Excel</h5>
                    <p class="sub-text" style="color: #34495e;">Explore our extensive collection of e-books and
                        resources tailored to
                        enhance your learning experience and academic journey.</p>
                    <a href="login">GetStarted <i class="fa-solid fa-arrow-right"></i></a>
                </div>

                <div class="col-md-6">
                    <img src="./images/studentremoved.gif" class="hero-image" />
                </div>
            </div>
        </div>
    </section>
    <%- include('footer.ejs') %>